* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 10px;
}

h1 {
    size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-text {
    color: #f9faf8; 
}

#logo img {
    height: 100px;
    width: 100px;
}

.dog-image {
    height: 150px;
    width: 200px;
}

.navbar {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f2937;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    z-index: 1000;
}

.navlink {
    list-style: none;
    display: flex;
    justify-content:end;
    gap: 50px;
}

.header-content {
    padding: 20px;
    display: flex;
    justify-content: spa;
    margin-top: 8%;
}

#header-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 5px solid #1f2937;
}

.header-content-right {
    flex: 1;
    text-align: center;
}

.header-content-left {
    flex: 1;
    padding: 0 20px;
}
.body-top {
    background-color:aliceblue;
}
.body-top-image {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.body-top-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    border: 5px solid #eaedf2; 
}
.dog-name {
    text-align: center;
}
.body-dog-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.body-dog-images.bottom {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
}

.body-top-image h3 {
    color: #1f2937;
}

.dog-text, .dog-history {
    font-style: italic;
    max-width: fit-content;
    text-align: center;
}
.headings {
    text-align: center;
    size: 48px;
    color: #1f2937;
    font-weight: 900;
}